/* google font */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    font-family: 'Roboto',
    sans-serif;
}
/* header style start */
.header{
    margin-left: 80px;
    margin-right: 80px;
}
.section_header{
    display: flex;

}
.div_header{
    width: 50%;
}
.div_header_img{
    display: 100%;
    margin-top: 80px;
    height: 100%;
    position: relative;
}
.span{
    color: rgba(236, 119, 72);
}
.banner{
    font-size: 3.3rem;
    margin-top: 300px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(94, 90, 90);
    
}
.text{
    color: rgba(59, 55, 55, 0.7);
    font-size: 1.2rem;
    margin-bottom: 50px;
}
.link_button{
    border:none;
    text-decoration: none;
    background-color:tomato;
    border-radius: 30px;
    padding: 20px 40px 20px 40px;
    color: white;
}
.link_button:hover{
    background-color: rgb(233, 129, 111);
    color: black;
}
/* header style end */